// home dashboard svg icons
.img {
  display: block;
  margin: 0 auto;
  height: 100%;
}

// svg fills for light and dark themes
.theme-light {
  .st0 {
    fill: #1e1f1d;
  }
  .st1 {
    fill: #e13217;
  }
  .st2 {
    fill: #3fa9f5;
  }
  .st3 {
    fill: #484848;
  }
}
.theme-dark {
  .st0 {
    fill: #ffffff;
  }
  .st1 {
    fill: #52b2e9;
  }
  .st2 {
    fill: #3fa9f5;
  }
  .st3 {
    fill: #ffffff;
  }
}

// classic dashboard icons
.oo-svg {
  height: 1.6em;
  width: 1.6em;
  margin: -0.45em 0 -0.6em -0.5em;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.oo-xs {
  height: 0.75em;
  width: 0.75em;
}
.oo-sm {
  height: 0.875em;
  width: 0.875em;
}
.oo-lg {
  height: 1.33333em;
  width: 1.33333em;
}
.oo-1x {
  width: 1em;
  height: 1em;
}
.oo-2x {
  height: 2em;
  width: 2em;
}
.oo-3x {
  height: 3em;
  width: 3em;
}
.oo-5x {
  height: 5em;
  width: 5em;
}
.oo-7x {
  height: 7em;
  width: 7em;
}
.oo-10x {
  height: 10em;
  width: 10em;
}

.cex {
  background-image: url('/public/img/grid/27_caught_grey.svg');

  &:hover {
    background-image: url('/public/img/grid/28_caught_white.svg');
  }
}

.swl {
  background-image: url('/public/img/grid/08_swallowed.svg');

  &:hover {
    background-image: url('/public/img/grid/26_swallowed_white.svg');
  }
}

.http {
  background-image: url('/public/img/grid/16_http_error_grey.svg');

  &:hover {
    background-image: url('/public/img/grid/24_http_error_white.svg');
  }
}

.wrn {
  background-image: url('/public/img/grid/14_log_warning_grey.svg');

  &:hover {
    background-image: url('/public/img/grid/23_log_warning_white.svg');
  }
}

.tmr {
  background-image: url('/public/img/grid/07_chronos.svg');

  &:hover {
    background-image: url('/public/img/grid/25_timer_white.svg');
  }
}

.unc {
  background-image: url('/public/img/grid/10_uncaught_grey.svg');

  &:hover {
    background-image: url('/public/img/grid/21_uncaught_white.svg');
  }
}

.err {
  background-image: url('/public/img/grid/12_log_error_grey.svg');

  &:hover {
    background-image: url('/public/img/grid/22_log_error_white.svg');
  }
}

.graph {
  background-image: url('/public/img/grid/01_graph.svg');

  &:hover {
    opacity: 0.6;
  }
}

.timer {
  background-image: url('/public/img/grid/02_timer.svg');

  &:hover {
    opacity: 0.6;
  }
}

.resolve {
  background-image: url('/public/img/grid/03_resolve.svg');

  &:hover {
    opacity: 0.6;
  }
}

.archive {
  background-image: url('/public/img/grid/10_autoHideTrash.svg');

  &:hover {
    opacity: 0.6;
  }
}

.more {
  background-image: url('/public/img/grid/06_more_dots.svg');

  &:hover {
    opacity: 0.6;
  }
}

.snapshot {
  background-image: url('/public/img/grid/13_reset_snapshot_blue.svg');

  &:hover {
    opacity: 0.6;
  }
}

.oo-actions {
  // visibility: hidden;
  display: inline-block;
  vertical-align: middle;

  .oo-svg {
    margin: 0 0.3em;
    vertical-align: middle;
    height: 1.385em;
    width: 1.385em;
    cursor: pointer;
  }

  .fa,
  .fas,
  .far,
  .fal,
  .fab {
    font-size: 1.3em;
    padding: 0 0.3em;
    color: #51b0e7;
    top: 2px;
    position: relative;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &.success:hover,
    &.danger:hover {
      opacity: 1;
      cursor: default;
    }
  }

  .divider {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 1.85em;
    opacity: 0.2;
    border: solid 1px #cbddf2;
    content: ' ';
  }

  .dropdown {
    display: inline-block;
    .dropdown-menu {
      a {
        width: 100%;
      }
      & > li > a i {
        top: 0;
        text-align: center;
        height: 1.385em;
        width: 1.385em;
        &.fa,
        &.fas,
        &.far,
        &.fab,
        &.fal {
          left: 0.3em;
        }
      }
    }
  }
}

.actions-wrapper > a {
  width: calc(100% - 8em); // 11em for all
  vertical-align: middle;

  .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
}

// .actions-wrapper:hover .oo-actions {
//   visibility: visible;
// }
