.blue {
  color: $query-keyword !important !important;
}

.red {
  color: $query-red !important;
}

.green {
  color: $query-green !important;
}

.yellow {
  color: $yellow !important;
}

.orange {
  color: $query-orange !important;
}

.purple {
  color: $query-purple !important;
}

.primary {
  color: $brand-primary !important;
}

.success {
  color: $brand-success !important;
}

.warning {
  color: $brand-warning !important;
}

.danger {
  color: $brand-danger !important;
}
