.blue {
  color: $query-keyword;
}

.red {
  color: $query-red;
}

.green {
  color: $query-green;
}

.yellow {
  color: $yellow;
}

.orange {
  color: $query-orange;
}

.purple {
  color: $query-purple;
}

.primary {
  color: $brand-primary;
}

.success {
  color: $brand-success;
}

.warning {
  color: $brand-warning;
}

.danger {
  color: $brand-danger;
}
