<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title">
      {{ctrl.modalTitle}}
    </h2>

    <a class="modal-header-close" ng-click="ctrl.dismiss();">
      <i class="fa fa-remove"></i>
    </a>
  </div>

  <div class="modal-content">
    <h4 ng-if="ctrl.title" class="p-b-2">{{ctrl.title}}</h4>
    <h6 ng-if="ctrl.subTitle" class="p-b-2">{{ctrl.subTitle}}</h6>
    <p ng-if="ctrl.text">{{ctrl.text}}</p>

    <a ng-if="ctrl.videoURL" href="{{ctrl.videoURL}}" target="_blank">
      <img ng-if="ctrl.screenshotURL" src="{{ctrl.screenshotURL}}" class="m-b-2" alt="" style="width: 100%; height: auto; box-shadow: -1px 3px 7px rgba(0,0,0,0.5);">
    </a>

    <div class="gf-form-button-row text-right">
      <a class="btn btn-inverse pull-left" ng-if="ctrl.installURL" href="{{ctrl.installURL}}" target="_blank">Install</a>
      <a class="btn btn-inverse pull-left" ng-if="ctrl.learnMoreURL" href="{{ctrl.learnMoreURL}}" target="_blank">Learn More</button>
      <a class="btn btn-inverse pull-left" ng-if="ctrl.demoURL" href="{{ctrl.demoURL}}">Demo</button>
      <a class="btn btn-inverse m-r-0" ng-click="ctrl.dismiss();">Got it</button>
    </div>
  </div>
</div>
