<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title">
      {{ctrl.modalTitle}}
    </h2>

    <a class="modal-header-close" ng-click="ctrl.dismiss();">
      <i class="far fa-remove"></i>
    </a>
  </div>

  <div class="modal-content">
    <h4 ng-if="ctrl.aboutTitle">{{ctrl.aboutTitle}}</h4>
    <strong ng-if="ctrl.subTitle">{{ctrl.subTitle}}</strong>
    <p ng-if="ctrl.text">{{ctrl.text}}</p>

    <a ng-if="ctrl.videoUrl" href="{{ctrl.videoUrl}}" target="_blank">
      <img ng-if="ctrl.screenshotUrl" src="{{ctrl.screenshotUrl}}" class="m-b-3" alt="" style="width: 100%; height: auto;">
    </a>

    <div class="text-right">
      <a class="btn btn-primary pull-left" ng-if="ctrl.installUrl" href="{{ctrl.installUrl}}" target="_blank">Install</a>
      <a class="btn btn-primary pull-left" ng-if="ctrl.learnMoreUrl" href="{{ctrl.learnMoreUrl}}" target="_blank">Learn More</button>
      <a class="btn btn-primary pull-left" ng-if="ctrl.demoUrl" href="{{ctrl.demoUrl}}">Demo</button>
      <a class="btn btn-primary m-r-0" ng-click="ctrl.dismiss();">Got it</button>
    </div>
  </div>
</div>
